		body.popup_modal-open {
			overflow: hidden;
		}
		.popup-modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            z-index: 1000;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
		.popup-modal.active {
            display: flex;
        }
        .popup-content {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
			overflow-x: auto;
			scroll-behavior: smooth;
        }


        #popup-image-container {
			user-select: none; 
    		-webkit-user-drag: none; 
    		cursor: grab;
            display: flex;
            gap: 1vw;
            align-items: center;
            padding: 0.4vw;
			white-space: nowrap;
			overflow-x: scroll;
			
        }
		#popup-image-container::-webkit-scrollbar {
			display: none; 
		}

        .popup-slider-image {
            height: 86vh;
            margin: 0 10px;
			border-radius: 20px;
			flex-shrink: 0;
			pointer-events: none;
        }

        .close-popup {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 24px;
            color: white;
            cursor: pointer;
        }
		.close-popup:hover {
            opacity: 70%;
        }
		.close-popup:active {
            opacity: 100%;
        }

        .popup-arrow {
            position: absolute;
            top: 50%;
            border: none;
            cursor: pointer;
            z-index: 9999;
			border: none;
			text-decoration: none;
			background: none; /* Убирает фон кнопки */
			padding: 0;       /* Убирает внутренние отступы */
			margin: 0;
        }

        .left-popup-arrow {
            left: 25px;
			width: 3%;
			height: auto;
        }

        .right-popup-arrow {
            right: 25px;
			width: 3%;
			height: auto;
        }
		.left-popup-arrow:hover {
            opacity: 70%;
        }
        .right-popup-arrow:hover {
            opacity: 70%;
        }
		.left-popup-arrow:active {
            opacity: 100%;
        }
        .right-popup-arrow:active {
            opacity: 100%;
        }
		button {
			all: unset; /* Убирает все стили кнопки */
		}
@media (max-width: 700px) {
		.popup-slider-image {
            height: 40vh;
            margin: 0 10px;
			border-radius: 20px;
			flex-shrink: 0;
        }
	    .left-popup-arrow {
            left: 25px;
			width: 6%;
			height: auto;
        }

        .right-popup-arrow {
            right: 25px;
			width: 6%;
			height: auto;
        }
}