@charset "utf-8";
/* CSS Document */
@media (max-width: 460px) {
	 html, body {
	  margin: 0;
	  padding: 0;
	  overflow-x: hidden;
	  width: 100%;
	  max-width: 100%;
	}
	 .burger-container{
		position: relative; 
  		display: inline-block;
	    padding-top: 0vh;
	    grid-area: 1 / 10 / 2 / 11;
	  	align-items: center;
	}
	.padding_head{
		padding-top: 0vh;
	}
    .main-content {
		padding-left: 3vw;
		margin-bottom: 0;
		grid-area: 3 / 1 / 4 / 11;
    }
	.menu-button{
		text-align: right;
		width: 30px; 
  		height: 25px;
		margin-right: 0vw;
	}
	.row{
		justify-content: center;
		align-items: center;
	}
	.buttons {
        justify-content: center;
    }
	.menu-button{
		text-align: right;
		width: 25px; 
  		height: 20px;
		margin-right: 0vw;
	}
	.for_title1 h1, .for_title1 h2 {
		width: 100%; 
		margin: 0; 
		white-space: nowrap;
	}
	.for_title1 h1 {
		font-size: 24px;
		font-weight: 500;
		text-align: justify; 
	}
	.for_title1 h2 {
		font-size: 9.9px;
		font-weight: 400;
		margin-bottom: 1.5vh;
		margin-top: -0.6vh;
		text-align: justify; 
	}
	.nav-links {
	  	top: 4vh; 
		right: 0vw;
	  	padding-right: 20vh;
	  	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	  	border-radius: 10px;
	  	width: 50vw; 
	}
	.grid-container {
	    display: grid;
	    grid-template-columns: repeat(1, 1fr);
	    gap: 14px;
		margin-top: 0vh;
		margin-bottom: 6vh;
		padding-left: 6vw;
		padding-right: 6vw;
	}
	.grid-item {
	    position: relative;
	    border-radius: 12px;
	    overflow: hidden;
	}
	.grid-item img {
	    display: block;
	    width: 100%;
	    height: auto;
		transition: transform 0.3s ease-in-out;}
	.grid-item .overlay p {
	  color: white;
	  font-size: 0.9rem;
	  text-align: center;
	  margin: 0;
	}
	.grid-item .stage {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    font-size: 1rem;
	    font-weight: 400;
	    z-index: 2;
	}
	.title_for_blocks{
		font-size: 1rem;
		font-weight: 500;
		margin-left: 3rem;
	}
	* {
	  box-sizing: border-box;
	}
	.container2 {
		  position: relative;
		  display: flex;
		  flex-direction: column;
		  width: 100%;
		  overflow-x: auto;
		  margin-top: 6vh;
		  margin-bottom: 6vh;
		  background-color: #E0E0E0;
		  align-items: center;
	}

	.sticky-title {
		  position: absolute;
		  top: 0;
		  left: 8vw; /* Фиксация заголовка наверху */
		  text-align: left;
		  font-size: 1rem;
		  font-weight: 500;
		  padding: 0.5rem; /* Заголовок будет над остальным содержимым */
		  color: #3D3B38;
	} 

	.picture_scroll {
		  margin-top: 3rem;
		  position: relative;
		  overflow-x: hidden; 
		  width: 100%;
		  height: 86%; 
		  display: flex;
		  align-items: center;
		  justify-content: center;
	}

	.track {
		 display: flex;
		  flex-wrap: nowrap;
		  will-change: transform;
		  cursor: grab;
	}
	/* Изображения в ленте */
	.track img {
		  display: block;
		  width: 30vw;
		  height: auto;
		  object-fit: cover;
		  border-radius: 20px; /* Скругление */
		  transition: transform 0.3s ease, filter 0.3s ease;
	}
	.pricing-card {
	  border-radius: 38px;
	  padding: 2.4vw;
	}
	.image-container img {
	  border-radius: 32px; 
	}
	.price-button {
	  background: #2F476B;
	  color: #fff;
	  font-size: 1rem;
	  font-weight: 400;
	  padding: 1.5vh 2vw;
	  border: none;
	  border-radius: 10px;
	  cursor: pointer;
	  margin-top: auto;
	  margin-botton: 4vh;
	}
	.decor{
		font-size: 0.8rem;
	}
	.for_1{
		margin-right: 8.2rem;
	}
	.for_2{
		margin-right: 1.18rem;
	}
	.end{
		margin-bottom: 1rem;
		margin-right: 0.09rem;
	}
	.text3{
		font-size: 1rem;
		font-weight: 500;
		color: #3D3B38;
	}
	.padding4{
		margin-top: 8%;
		margin-left: 50%;
	}
	.colum2{
	  margin-top: 6vh;
		}
	.dop_color{
		margin-left: 1.5rem;
	}
	.The_form h3 {
        margin-left: 1.5rem;
        font-size: 1rem;
    }
	.text_footer{
		font-size: 0.6rem;
	}
}
