@charset "utf-8";
/* CSS Document */
@font-face {
            font-family: 'Inter'; 
            src: url('Style/font/Inter.woff2') format('truetype'); 
        }
@media (min-width: 300px) {
	
	html, body{
		margin: 0;
    	padding: 0;
		width: 100%;
		overflow-x: hidden;
		height: 100%;
		font-family: 'Inter', sans-serif;
		background-color: #FDFDFD;
	}
	html {
		scroll-behavior: smooth;
	}

	.container1{
		display: grid;
		max-width: 100%;
        grid-template-columns: auto;
        grid-auto-rows: minmax(auto, auto);
	}
	
	.padding1{padding-top: 5vw;
			  padding-left: 6vw;
			  padding-right: 6vw;}
	
	.colorwh{background: white;}
	.new_bac{
		display: none;
	}
	.header {
  		position: relative;
		width: 100%;
  		height: 75.3vh;
		overflow: hidden; 
  		background-image: url("TitlePhoto.png"); 
  		background-size: cover;
		background-repeat: no-repeat;
        background-position: top;
        color: #333;
  		text-align: center;
  		padding-left: 1.5vw;
		padding-right: 0vw; 
		border-radius: 20px;
	}

/* Логотип */
	.logo img {
  		width: 50%;
 		height: auto;
  		margin-bottom: 2vh;
	}
	.padding_head{padding-top: 2vh;}
	
	.row{display: flex;
		justify-content: space-between;}
	.row2{display: flex;
		margin: 0;
		padding: 0;
		justify-content: space-between;}
	.row3{display: flex;
		margin: 0;
		padding: 0;
		justify-content: space-between;}
	.row4{display: flex;
		margin: 0;
		padding: 0;
		justify-content: space-between;}
/* Основной текст */
	.main-content {
  		text-align: left;
 		padding-left: 5vw;
	}
	.for_title1 {
		display: flex;
		flex-direction: column; /* Убираем все элементы в столбик */
		align-items: flex-start; /* Выравниваем по левому краю */
		justify-content: flex-start; /* Выравниваем по верхнему краю */
		width: auto; /* Ширина контейнера 100% от родительского */
		margin-left: 5vw;
		text-align: left;
		margin-top: 7.8vh;
		margin-bottom: 7vh;
	}

	.for_title1 h1, .for_title1 h2 {
		width: 100%; /* Заголовок и подзаголовок занимают всю ширину контейнера */
		margin: 0; /* Убираем внешние отступы */
	}

	.for_title1 h1 {
		font-size: 96px;
		font-weight: 500;
		color: #3D3B38;
	}

	.for_title1 h2 {
		font-size: 39.3px;
		font-weight: 400;
		color: #3D3B38;
		margin-top: -2.6vh;
	}
	.text1{
		font-size: 1.6em;
		margin-bottom: 6.5vh;
		font-weight: 500;
		color: #3D3B38;
		word-wrap: break-word;
  		word-break: break-word;
	}
	.text2 {
	  	font-size: 0.9em;
		margin-top: 0vh;
		margin-bottom: 3vh;
		font-weight: 500;
		color: #3D3B38;
		word-wrap: break-word;
  		word-break: break-word;
	}

/* Навигация */
	.burger-container{
		position: relative; 
  		display: inline-block;
	}
	.menu-button {
		width: 6vw; 
  		height: 4vh;
		background-image: url("button1.png"); 
        background-size: contain;
        background-repeat: no-repeat;
  		background-color: transparent;
  		border: none;
  		cursor: pointer;
  		margin-top: 0.5vh;
		transition: background-image 0.3s ease, background-color 0.3s ease;
	}
/* При наведении */
    .menu-button:hover {
  		background-image: url('button2.png'); 
	}

/* При нажатии */
	.menu-button:active {
 		background-image: url('button3.png'); 

	}
	.nav-links {
	  	position: absolute; /* Меню позиционируется относительно burger-container */
	  	top: 6vh; 
		right: 1vw;
	  	background-color: rgba(255, 255, 255, 0.8);
	  	margin: 0;
	  	padding-right: 14vh;
	  	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	  	border-radius: 10px;
	  	overflow: hidden;
		text-align: left;
	  	width: auto; 

	  /* Скрываем меню с помощью transform */
	  	transform: translateY(-20px);
	  	opacity: 0;
	  	visibility: hidden;
	  	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
	  	z-index: 10;
	}

	.nav-links li {
	  	list-style: none; 
	  	margin: 1vw 1vh;
	}

	.nav-links a {font-size: 1em;
	  	text-decoration: none;
		white-space: nowrap;
	  	color: #4C4A48;
	}

	.nav-links a:hover {
	  	color: #B8B8B8;
	}
	.nav-links a:active {
	  	color: #302F2D;
	}

/* Показ меню при активации */
	.nav-links.active {
	  	transform: translateY(0); 
	  	opacity: 1;
	  	visibility: visible;
	}
	.buttons {
        display: flex;
        justify-content: flex-end;
        gap: 2vw;
		margin-top: 3vh;
        margin-right: 2vw;
    }

    .buttons button {
          background-color: #2F476B;
          color: white;
          border: none;
          border-radius: 10px;
          padding: 1.5vh 2vw;
          font-size: 1em;
          cursor: pointer;
		  text-decoration: none;
    }

    .buttons button:hover {
          background-color: #1259BE;
        }
	.buttons button:active {
          background-color: #002a65;
        }
	.buttons button:focus{
          text-decoration: none;
        }
	.not_decor{
		text-decoration: none;
	}
	/*Второй блок*/
	* {
		box-sizing: border-box;
	}
	.container2 {
		  position: relative;
		  display: flex;
		  flex-direction: column;
		  width: 100%;
		  overflow-x: auto;
		  margin-top: 6vh;
		  margin-bottom: 6vh;
		  background-color: #E0E0E0;
	}
	

	.sticky-title {
		  position: absolute;
		  top: 0;
		  left: 12.2vw; /* Фиксация заголовка наверху */
		  text-align: left;
		  font-size: 2rem;
		  font-weight: 500;
		  z-index: 10; 
		  padding: 0.5rem; /* Заголовок будет над остальным содержимым */
		  color: #3D3B38;
	} 

	.picture_scroll {
		  margin-top: 5rem;
		  position: relative;
		  overflow-x: hidden; 
		  width: 100%;
		  height: 86%; 
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  -webkit-overflow-scrolling: touch;
	}

	.track {
		 display: flex;
		  gap: 3rem;
		  animation: scroll 20s linear infinite;
		  -webkit-animation: scroll 20s linear infinite;
		  -moz-animation: scroll 20s linear infinite;
		  will-change: transform;
		  cursor: grab;
		  user-select: none; 
    	  -webkit-user-drag: none;
	}
	.picture_scroll:hover .track {
		  animation-play-state: paused; /* Пауза анимации при наведении */
	}

	/* Изображения в ленте */
	.track img {
		  width: 20vw;
		  height: auto;
		  object-fit: cover;
		  border-radius: 20px; 
		  transition: transform 0.3s ease, filter 0.3s ease;
	}

	.track img:hover {
		  transform: scale(1.1); 
		  filter: brightness(0.6); 
	}
		/*Третий блок*/
	.container3{
		display: flex;
		flex-direction: column;
	}
	.title_for_blocks{
		font-size: 2rem;
		font-weight: 500;
		margin-left: 12rem;
		color: #3D3B38;
	}
	.together_row{
		display: flex;
		margin-bottom: 7vh;
		padding-top: 1vh;
		padding-right: 4vw;
		padding-left: 6vw;
	}
	.photo{
		width: 52vw;
		height: 100%;
		border-radius: 20px;
	}
	.text2{
		font-size: 1rem;
		font-weight: 400;
		color: #4C4A48;
		padding-left: 0em;
	}
	.padding3{
		padding-left: 1.8em;
		line-height: 1.4;
	}
	.padding_for_fat{
		margin-top: -0.5rem; 
	}
	.fat_text{
		font-size: 1.2rem;
		font-weight: 500;
		color: #3D3B38;
		padding-left: 1.8em;
	}
	.list{
		margin-top: -0.6rem;
		list-style: none;
		padding-left: 3.2em;
		font-size: 1rem;
		font-weight: 400;
		color: #4C4A48;
	}
	.list li {
		line-height: 1.2;
		position: relative; 
		margin-bottom: 1.1rem; 
	}	
	
	.list li::before {
		content: '•'; 
		color: #4C4A48;
		margin-right: 1rem;
		display: inline-block;
	}
	.column{
		display: flex;
	    flex-direction: column;}
	/*4 блок*/
	.grid-container {
	    display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    gap: 20px;
		margin-top: 1vh;
		margin-bottom: 6vh;
		padding-left: 6vw;
		padding-right: 6vw;
	}
	.grid-item {
	    position: relative;
	    border-radius: 20px;
	    overflow: hidden;
	}
	.grid-item img {
	    display: block;
	    width: 100%;
	    height: auto;
	    transition: transform 0.9s ease-in-out;
	}
	.grid-item .dark-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25); 
      z-index: 1;
    }
	.grid-item .stage {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    font-size: 1.5rem;
	    font-weight: 400;
	    z-index: 2;
	}

	.grid-item .overlay {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: rgba(0, 0, 0, 0.6);
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  opacity: 0;
	  transition: opacity 0.2s ease-in-out;
	  z-index: 1;
	}

	.grid-item .overlay p {
	  color: white;
	  font-size: 1rem;
	  text-align: center;
	  margin: 0;
	}

	.grid-item:hover img {
	  transform: scale(1.05);
	}

	.grid-item:hover .stage {
	    opacity: 0;
	    transition: opacity 0.1s ease-in-out;
	}

	.grid-item:hover .overlay {
	    opacity: 1;
	}
	.color1{
		color: white;
	}
	
	/*5 блок*/
	.pricing-section{
	  background-color: #E0E0E0;
	  padding-top: 2vh;
	  margin-top: 3vh;
	  margin-bottom: 4vh;
	  padding-bottom: 4vh;
	}

	.pricing-grid {
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	  gap: 20px;
	  background-color: #E0E0E0;
	  padding: 1vh 6vw;
	}
	.pricing-card {
	  display: flex;
	  flex-direction: column; 
	  justify-content: flex-start; 
	  align-items: center; 
	  border: 1px solid #CECDCD;
	  border-radius: 38px;
	  border-width: 0.2em;
	  padding: 1vw;
	  text-align: center;
	}
	.fill{
		background-color:#CECDCD; 
	}
	.text3{
		font-size: 1.2rem;
		font-weight: 500;
		color: #3D3B38;
	}
	.image-container {
	  position: relative;
	  width: 100%;
	  height: auto; 
	  overflow: hidden; 
	}
	.image-container img {
	  width: 100%; 
	  height: 100%; 
	  object-fit: cover; 
	  border-radius: 20px; 
	}
	.decor{
		list-style: none;
		text-align: left;
		margin: 0;
  		padding: 0;
		line-height: 1.4;
		color: #4C4A48;
		font-size: 1rem;
	}
	.for_1{
		margin-right: 11.8rem;
	}
	.for_2{
		margin-right: 2rem;
	}
	.end{
		margin-bottom: 1rem;
		margin-right: 0.09rem;
	}
	.italics{
		font-style: italic;
		font-size: 0.8em;
	}
	.non_plus{
		margin-left: 2rem;
		margin-bottom: 1rem;
		line-height: 1.4;
		color: #4C4A48;
		font-size: 1rem;
	}
	.price-button {
	  background: #2F476B;
	  color: #fff;
	  font-size: 1rem;
	  font-weight: 400;
	  padding: 1.5vh 2vw;
	  border: none;
	  border-radius: 10px;
	  cursor: pointer;
	  margin-top: auto;
	}

	.price-button:hover {
	  background: #1259BE;
	}
	.price-button:active {
      background-color: #002a65;
    }
	/* Модальное окно */
	.modal {
	  display: none; 
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: rgba(0, 0, 0, 0.4);
	  justify-content: center;
	  align-items: center;
	  z-index: 100;
	}

	.modal-content {
	  background: #fff;
	  border-radius: 20px;
	  padding: 4vh 3vw;
	  width: auto;
	  height: 82vh;
	  max-width: 500px;
	  position: relative;
	  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	  z-index: 6;
	}

	.close-btn {
	  position: absolute;
	  top: 10px;
	  right: 10px;
	  background: none;
	  border: none;
	  font-size: 20px;
	  cursor: pointer;
	}
	.close-button:hover {
	  background: #1259BE;
	}
	.close-button:active {
      background-color: #002a65;
    }
	input{
	  width: 100%;
	  height: 1vh;
	  padding: 2vh 0vw;
	  margin-bottom:1em; 
	  border: none;
	  border-bottom: 2px solid #dcdcdc;
	  font-size: 1rem;
	  outline: none;
	  
	  background: transparent;
	}
	input:focus{
	   border-bottom: 2px solid #3a7aff; 
	}
	textarea {
	  width: 100%;
	  padding: 2vh 0vw;
	  margin-bottom: 1vh;
	  border: none;
	  border-bottom: 2px solid #dcdcdc;
	  font-size: 1rem;
	  outline: none;
	  background: transparent;
	  height: 1vh; 
	  overflow: hidden; 
	  resize: none; 
	}
	textarea:focus {
	  border-bottom: 2px solid #3a7aff; 
	}
	.title_for_modal{
		font-size: 1.4rem;
		font-weight: 500;
		color: #3D3B38;
		margin-bottom: 4.2vw;
	}
	.color_text_modal{
		color: #3D3B38;
		font-size: 1rem;
		font-weight: 400;
	}
	.color_text_modal2{
		color: #969696;
		font-size: 0.8rem;
		font-weight: 400;
		margin-top: -0.4vh;
	}
	.contact-info{
		color: #3D3B38;
		font-size: 1rem;
		font-weight: 400;
	}
	.phone{
		font-size: 1.2rem;
		font-weight: 500;
		color: #3D3B38;
		margin-bottom: 4.2vw;
	}
	.submit-button{
		display: flex;
		width: auto;
		justify-content: center;
        align-items: center;
		margin-top: 0.8vw;
	}
	.submit-button button{
		  background-color: #2F476B;
		  white-space: nowrap;
          color: white;
          border: none;
          border-radius: 10px;
          padding: 1.5vh 2vw;
          font-size: 1em;
          cursor: pointer;
		  text-decoration: none;
		  flex-shrink: 0;
	}
	.submit-button button:hover {
	  background: #1259BE;
	}
	.submit-button button:active {
      background-color: #002a65;
    }
	.colum{
	  display: flex;
	  flex-direction: column;
	  margin-left: 2.5vw;
	  margin-top: 1.5vh;
		}
	.colum2{
	  display: flex;
	  flex-direction: column;
	  margin-top: 8vh;
	  align-items: center;
	 justify-content: center;
		}
	.fat_ysl{
	  font-weight: 500;
	  color: #0056b3;
	    }
	.dopoln_raz{
	  margin-top: 8vh;
	    }
	.container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
		padding-left: 6vw;
		padding-right: 6vw;
    }

    .card-wrapper {
        flex: 1 1 48%; /* Гибкий элемент: занимает 48%, но может уменьшаться */
    	max-width: 48%; 
        border-radius: 20px;
        overflow: hidden;
        background: #fff;
        position: relative;
        transition: transform 0.3s ease;
		cursor: grab;
    }

    .card-wrapper:hover {
        transform: scale(1.02);
    }

    .card {
		aspect-ratio: 16 / 9;
        width: 100%;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    }
	.card::before {
		content: ""; 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.25));
		z-index: 1; 
		pointer-events: none; 
	}

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .text-wrapper {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        background-color: #818181;
        border-radius: 0 0 20px 20px;
        margin-top: -1rem;
    }

    .text-wrapper.active {
        max-height: 300px;
    }

    .text-panel {
        padding: 2rem;
        color: #EFEFEF;
        opacity: 1;
        transition: opacity 0.3s ease;
    }
	.card-title {
		position: absolute;
		top: 4em;
		color: white;
		font-size: 18px;
		font-weight: 500;
		padding: 5px 10px;
		z-index: 2;
		text-align: center;
	}
	.highlight {
			font-weight: bold; 
			color: white; 
	}
	.pos_rig{
			right: 2em;
	}
	.pos_lef{
			left: 2em;
	}
	.text-panel p{
			color: #EFEFEF;
			font-weight: 400;
	}
	.The_form{
		display: flex;
		flex-direction: row;
		margin-top: 11vh;
		background-color: #D5DAE3;
		padding: 5vh 6vw;
	}
	.The_form h3{
		margin-left: 2.4rem;
		margin-top: -0.2em;
		font-size: 2rem;
		font-weight: 500;
		color: #3D3B38;
	}
	.photo2{
		width: 42%;
		height: 40%;
		border-radius: 20px;
	}
	.dop_color{
		margin-left: 2.4rem;
		color: #3D3B38;
	}
	
	#name3 {
		width: 30vw;
		border: none;
		border-bottom: 2px solid #3D3B38; 
		font-size: 1rem;
		padding: 2vh 0vw;
	}
	#name3:focus{
		border-bottom: 2px solid #3a7aff; 
	}
	#phone3 {
		border: none;
		width: 30vw;
		border-bottom: 2px solid #3D3B38; 
		font-size: 1rem;
		padding: 2vh 0vw;
	}
	#phone3:focus{
		border-bottom: 2px solid #3a7aff; 
	}
	#message3 {
		border: none;
		width: 30vw;
		border-bottom: 2px solid #3D3B38; 
		font-size: 1rem;
		padding: 2.5vh 0vw;
	}
	#message3:focus{
		border-bottom: 2px solid #3a7aff; 
	}
	.padding4{
		margin-top: 11%;
		margin-left: 30.2vw;
	}
	.container5 {
		display: flex;
		flex-direction: column;
		height: auto;
		margin: 0;
		padding-left: 6vw;
		padding-right: 6vw;
	}

	.gallery {
		display: grid;
		justify-content: center;
		grid-template: repeat(9, 1fr) / repeat(16, 1fr); 
		gap: 1vw;
		width: 100%;
		height: auto; /* Исправлено */
	}
	.marg_for_gallery{
		margin-top: 8vh;
	}
	.A{
		grid-area: 1 / 1 / 7 / 5;
	}
	.B{
		grid-area: 7 / 1 / 10 / 5;
	}
	.C{
		grid-area: 1 / 5 / 5 / 13;
	}
	.D{
		grid-area: 5 / 5 / 10 / 13;
	}
	.E{
		grid-area: 1 / 13 / 4 / 17;
	}
	.F{
		grid-area: 4 / 13 / 7 / 17;
	}
	.G{
		grid-area: 7 / 13 / 10 / 17;
	}
    .gallery img {
		width: 100%;
		height: 100%; /* Исправлено */
		border-radius: 12px;
		object-fit: cover;
		-webkit-object-fit: cover; /* Для Safari */
		transition: opacity 3s ease;
	}

     .gallery img.hidden {
        opacity: 0;
    }
	footer{
		margin-top: 4vh; 
		padding-left: 6vw;
		padding-right: 6vw;
		margin-bottom: 6vh;
	}
	.center{
		display: flex;
		align-items: baseline;
		padding-left: 3vw;
		padding-right: 1vw;
	}
	.row_for_messenger{
		display: flex;
		flex-direction: row;	
		align-items: baseline;
		
	}
	.row_for_messenger img{
		width: 3vw;
		height: auto;
		margin-right: 1vw;
		object-fit: contain;
		transition: transform 0.3s ease;
	}
	.row_for_messenger img:hover{
		transform: scale(1.1);
		opacity: 0.8; 
	}
	
	.Ta_samaya{
		font-size: 2rem;
		display: inline-block;
		font-weight: 500;
		color: #4C4A48;
	}
	.line{
		margin-top: -2vw;
		padding-top: 0.2rem;
		background-color: #4C4A48;;
	}
	.marging_footer_text{
		margin-top: 0vh;
		padding-right: 2vw;
	}
	.text_footer{
		font-size: 1rem;
		color: #4C4A48;
	}
	.text_footer2{
		font-size: 1.6rem;
		color: #4C4A48;
	}
	.text_footer2:hover{
		color: #B8B8B8;
	}
	.text_footer2:active{
		color: #000000;
	}
	.no_des{
		text-decoration: none;
	}
	.phone-link {
		position: relative; 
		text-decoration: none; 
		display: inline-block; 
	}
	.phone-link .tooltip {
		display: none; 
		position: absolute;
		bottom: 115%; 
		left: 50%;
		transform: translateX(-50%);
		background-color: #FDFDFD; 
		color: #4C4A48;
		line-height: 1.2rem;
		padding: 1rem 2rem; 
		border: 1px solid #ccc; 
		border-radius: 10px; 
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
		font-size: 1rem; 
		white-space: nowrap; 
		z-index: 10; 
	}

	.phone-link:hover .tooltip {
		display: block; 
	}
	 .no-scroll {
    	overflow: hidden;
			
	}
	.insta{position: relative;
		display: inline-block;}
	.insta .tooltip {
		display: none; 
		position: absolute;
		bottom: 115%; 
		transform: translateX(-50%);
		background-color: #FDFDFD; 
		color: #4C4A48;
		line-height: 1.2rem;
		padding: 1rem 2rem; 
		border: 1px solid #ccc; 
		border-radius: 10px; 
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
		font-size: 0.8rem; 
		white-space: nowrap;
		text-align: center;
		z-index: 10; 
	}
	.insta:hover .tooltip {
		display: block; 
	}
}

/* Анимация прокрутки */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-38.4%)); /* Двигаем дальше половины ленты */
  }
}
/* Новые стили сайта при его уменьшенном размере */
@media (max-width: 1270px) {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
	overflow-x: hidden;
	}
  .row2.together_row {
    flex-direction: column; /* Перестраиваем на столбик */
    align-items: flex-start; 
  }

  .photo {
    width: 100%; 
    max-width: 100%; 
  }

  .colum {
    text-align: left; 
    margin-top: 20px; 
  }
  	.photo2{
		width: 100%;
		height: 35%;
		border-radius: 20px;
	}
	.The_form{
		flex-direction: column;
		margin-top: 11vh;
		padding: 5vh 6vw;
	}
	.The_form h3{
		padding-top: 2.5vh;
		margin-left: 8rem;
		margin-top: -0.2em;
		font-size: 2rem;
		font-weight: 500;
	}
	.padding4{
		margin-top: 8%;
		margin-left: 70%;
	}
	#name3 {
		width: 70vw;
		font-size: 0.9rem;}
	#phone3 {
		width: 70vw;
		font-size: 0.9rem;}
	#message3 {
		width: 70vw;
		font-size: 0.9rem;
	}
	.gallery {
        gap: 0.8vw;
		height: 90%;
    }
	.text_footer2{
		font-size: 1.3rem;
		color: #4C4A48;
	}
	footer{
		margin-top: 0vh;
	}
	.title_for_blocks{
		font-size: 1.8rem;
		font-weight: 500;
		margin-left: 10rem;
	}
	.sticky-title {
		  position: absolute;
		  top: 0;
		  left: 12.6vw; 
		  text-align: left;
		  font-size: 1.8rem;
		  padding: 0.5rem; 
	} 
	.The_form h3{
		padding-top: 2vh;
		margin-left: 6rem;
		margin-top: -0.2em;
		font-size: 1.8rem;
		font-weight: 500;
	}
	.modal-content {
	  padding: 4vh 3vw;
	  width: auto;
	  height: 82vh;
	  max-width: 500px;
	}
}
@media (max-width: 700px) {
	html, body {
	  margin: 0;
	  padding: 0;
	  overflow-x: hidden;
	  width: 100%;
      height: 100%;
	}
	.padding1{padding-top: 2vw;
			  padding-left: 6vw;
			  padding-right: 6vw;}
	.logo {
    	display: none;
    }
	.header {
    	background-image: none;
    	height: auto;
    	padding: 0vh 0;
		display: grid;
		max-width: 100%;
    	grid-template: repeat(3, auto)/repeat(10, 1fr);
		margin-top: 4vh;
		margin-bottom: 2vh;
 	}
	.for_title1{
		display: flex;
		flex-direction: column; /* Убираем все элементы в столбик */
		align-items: flex-start; /* Выравниваем по левому краю */
		justify-content: flex-start; /* Выравниваем по верхнему краю */
		width: auto;
		text-align: left;
 		padding-left: 3vw;
		grid-area: 1 / 1 / 2 / 10;
		margin-left: 0vh;
		margin-top: 0vh;
        margin-bottom: 0vh;
	}
	.for_title1 h1 {
		font-size: 36px;
		font-weight: 500;
	}
	.for_title1 h2 {
		font-size: 14.8px;
		font-weight: 400;
		margin-bottom: 2vh;
		margin-top: -1vh;
	}
	.new_bac{
		display: block;
    	width: 100%;
    	height: auto;
		border-radius: 20px;
		grid-area: 2 / 1 / 3 / 11
	}
    .burger-container{
		position: relative; 
  		display: inline-block;
	    padding-top: 0vh;
		padding-bottom: 2vh;
	    grid-area: 1 / 10 / 2 / 11;
	  	align-items: center;
	}
	.padding_head{
		padding-top: 0vh;
	}
    .main-content {
		padding-left: 3vw;
		margin-bottom: 0;
		grid-area: 3 / 1 / 4 / 11;
    }
	.menu-button{
		text-align: right;
		width: 30px; 
  		height: 25px;
		margin-right: 0vw;
	}
	.row{
		justify-content: center;
		align-items: center;
	}
	.text1{
		font-size: 1em;
		margin-bottom: 2.5vh;
		font-weight: 500;
	}
	.text2 {
	  	font-size: 0.75em;
		margin-bottom: 2vh;
		font-weight: 500;
	}
	.nav-links {
	  	top: 6vh; 
		right: 0vw;
	  	padding-right: 20vh;
	  	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	  	border-radius: 10px;
	  	width: 42vw; 
	}

	.nav-links li {
	  	list-style: none; 
	  	margin: 1vw 0vh;
		margin-left: -2vw;
	}

	.nav-links a {
		font-size: 0.7em;
		white-space: nowrap;
	}
	.buttons {
        display: flex;
        justify-content: flex-end;
        gap: 2vw;
		margin-top: 0vh;
        margin-bottom: 2vh;
		margin-right: 0rem;
    }
	.buttons button {
          border-radius: 10px;
          padding: 1.2vh 4vw;
          font-size: 0.8em;
    }
	.sticky-title {
		  left: 7vw; /* Фиксация заголовка наверху */
		  text-align: left;
		  font-size: 1rem;
		  font-weight: 500;
		  z-index: 10; 
		  padding: 0rem 1rem;
		  margin-top: 3vh;
	} 
	.title_for_blocks{
		font-size: 1.4rem;
		font-weight: 500;
		margin-left: 5rem;
	}
	.grid-container {
	    display: grid;
	    grid-template-columns: repeat(2, 1fr);
	    gap: 18px;
		margin-top: 1vh;
		margin-bottom: 6vh;
		padding-left: 6vw;
		padding-right: 6vw;
	}
	.grid-item {
	    position: relative;
	    border-radius: 20px;
	    overflow: hidden;
	}
	.grid-item img {
	    display: block;
	    width: 100%;
	    height: auto;
		transition: transform 0.3s ease-in-out;}
	
	.grid-item .overlay p {
	  color: white;
	  font-size: 0.8rem;
	  text-align: center;
	  margin: 0;
	}
	.padding3{
		padding-left: 1.18em;
		line-height: 1.4;
	}
	.padding_for_fat{
		margin-top: -0.4rem; 
	}
	.fat_text{
		font-size: 1rem;
		font-weight: 500;
		padding-left: 1.5em;
	}
	.list{
		margin-top: -0.6rem;
		padding-left: 1.18em;
		font-size: 0.75rem;
	}
	.container {
        display: flex;
        flex-direction: row;
		flex-wrap: wrap;
        gap: 2vh;
		padding-left: 6vw;
		padding-right: 6vw;
    }
	.card {
		aspect-ratio: 16 / 9;
        width: 100%;
		height: inherit;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    }
	.card-wrapper {
        flex: 1 1 100%; /* Карточки занимают всю ширину */
        max-width: 100%;
    }

	.The_form h3{
		padding-top: 2vh;
		margin-left: 2.4rem;
		margin-top: -0.2em;
		font-size: 1.4rem;
		font-weight: 500;
	}
	.container5{
		height: auto;
	}
	.gallery {
        display: grid;
		justify-content: center;
        grid-template: repeat(14, 1fr)/repeat(4, 1fr);
        gap: 2vw;
        width: 100%;
		height: 100%;
    }
	.marg_for_gallery{
		margin-top: 8vh;
	}
	.A{
		grid-area: 1 / 1 / 7 / 3;
	}
	.B{
		grid-area: 7 / 1 / 10 / 3;
	}
	.C{
		grid-area: 5 / 3 / 8 / 5;
	}
	.D{
		grid-area: 12 / 3 / 15 / 5;
	}
	.E{
		grid-area: 1 / 3 / 5 / 5;
	}
	.F{
		grid-area: 8 / 3 / 12 / 5;
	}
	.G{
		grid-area: 10 / 1 / 15 / 3;
	}
	.row3{
		flex-direction: column;
		justify-content: center;
	    margin-bottom: 4vh;}
	.center{
		align-items: center;
		padding-left: 0vw;
		padding-right: 0vw;
	}
	.Ta_samaya{
		font-size: 2.6rem;
		display:contents;
		margin-bottom: 3vh;
	}
	.row_for_messenger{
		flex-direction: row;	
		align-items: baseline;
		margin-top: 3vh;	
	}
	.row_for_messenger img{
		width: 5vw;
		height: auto;
		margin-left: 0.5vw;
		margin-right: 0.5vw;
		object-fit: contain;
		transition: transform 0.3s ease;
	}
	.row_for_messenger img:hover{
		transform: scale(1.1);
	}
	.text_footer2{
		padding-top: 1.8vh;
		white-space: nowrap;
		font-size: 1rem;
	}
	.center2{
		padding-left: 0vw;
		padding-right: 0vw;
	}
	.text_footer{
		font-size: 0.8rem;
	}
	.submit-button{
		display: flex;
		width: auto;
		justify-content: center;
        align-items: center;
	}
	.submit-button button{
		  background-color: #2F476B;
		  white-space: nowrap;
          color: white;
          border: none;
          border-radius: 10px;
          padding: 1.5vh 2.5vw;
          font-size: 0.8em;
          cursor: pointer;
		  text-decoration: none;
		  flex-shrink: 0;
	}	
	.padding4{
		margin-top: 10%;
		margin-left: 56%;
	}
	.sticky-title {
		  position: absolute;
		  top: 0;
		  left: 10.6vw; 
		  text-align: left;
		  font-size: 1.4rem;
		  padding: 0.5rem; 
	} 
	.picture_scroll {
		  margin-top: 3rem;
		  position: relative;
		  overflow-x: hidden; 
		  width: 100%;
		  height: 86%; 
		  display: flex;
		  align-items: center;
		  justify-content: center;
	}

	.track {
		 display: flex;
		  gap: 2rem;
		  animation: scroll 20s linear infinite;
		  -webkit-animation: scroll 20s linear infinite;
		  -moz-animation: scroll 20s linear infinite;
		  will-change: transform;
		  cursor: grab;
	}
	
	.track img {
		  width: 18vw;
		  height: auto;
		  object-fit: cover;
		  border-radius: 20px; 
	}
	.pricing-grid {
	  display: grid;
	  grid-template: repeat(3, 1fr)/repeat(1, 1fr);
	  gap: 16px;
	  padding: 1vh 6vw;
	}
	.pos_rig{
			left: 0em;
			right: 0em;
	}
	.pos_lef{
		    left: 0em;
			right: 0em;
	}
	
	.pricing-card {
	  border-radius: 38px;
	}
	.image-container img {
	  width: 100%; 
	  height: 100%; 
	  object-fit: cover; 
	  border-radius: 28px; 
	}
	footer{
		margin-top: 5vh;}
	.modal {
	  display: none; 
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: rgba(0, 0, 0, 0.4);
	  justify-content: center;
	  align-items: center;
	  z-index: 100;
	}

	.modal-content {
	  border-radius: 20px;
	  padding: 4vh 5vw;
	  width: 80vw;
	  height: 72vh;
	  max-width: 500px;
	}
	input{
	  width: 100%;
	  height: 1vh;
	  padding: 2vh 0vw;
	  margin-bottom:1em; 
	  border-bottom: 2px solid #dcdcdc;
	  font-size: 0.8rem;
	}
	textarea {
	  width: 100%;
	  padding: 3vh 0vw;
	  margin-bottom: 1vh;
	  border-bottom: 2px solid #dcdcdc;
	  font-size: 0.8rem;
	  outline: none;
	  background: transparent;
	  height: 1vh; 
	}
	.title_for_modal{
		font-size: 1.2rem;
		font-weight: 500;
		margin-bottom: 3.2vw;
	}
	.color_text_modal{
		font-size: 0.8rem;
		font-weight: 400;
	}
	.color_text_modal2{
		font-size: 0.7rem;
		font-weight: 400;
		margin-top: -0.4vh;
	}
	.contact-info{
		font-size: 0.8rem;
		font-weight: 400;
	}
	.phone{
		font-size: 1rem;
		font-weight: 500;
	}
	.colum2{
	  margin-top: 10vh;
		}
}